.Main {
  display: flex;
  height: 500px;
  width: 950px;
}

.Main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  border-radius: 3px;
  background-color: mediumpurple;
  width: 30%;
  height: 100%;
}

.Main h1 {
  color: white;
  padding-bottom: 0.5em;
}

.Main-thin-text {
  font-weight: 300;
}

.Main-smiley {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);

  margin-bottom: 1em;
  padding: 1em;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.Main-smiley i {
  margin: 0;
  padding: 0;

  transform: scale(6.5);
  height: 1rem;
  width: 1rem;
}

.Main-button {
  box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.75);

  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%
  );
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.75em 0.5em;
}

.Main-button:hover {
  cursor: pointer;
}

.Main-jokelist {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  border-radius: 3px;
  margin: auto 0;
  width: 70%;
  height: 90%;
  overflow-x: scroll;
}

.Main-loading {
  color: yellow;
}
